* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  .page{
    margin: 1rem 0;
  }

  body {
    font-size: 15px;
  }
  .header {
    text-align: center;
    margin: auto auto;
  }
  
  @media only screen and (min-width : 1480px) {
    .header > p {
      margin: 0 25rem;
     }
  }
  

  .title1 {
    font-weight: 200;
  }

  .title2 {
    font-weight: 600;
  }

  .flexCards {
    display: flex;
    flex-direction: row;
    margin: auto auto;
    max-width: 1050px; 
   
  }

  .card {
    margin: 1rem;
    padding: 10px;
    height: auto;
    border-radius: 5px;
    border: 0px solid;
    box-shadow: 5px 5px 15px hsl(229, 6%, 66%);
    /* max-width: 350px; */
    width: 350px;
  }

  .card img{
    float: right;
    padding: 1rem;
  }

  .supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);
    align-self: center;
    flex: 1;
    flex-basis: 0;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    flex-basis: 0;
    margin: 30px 0;
  }

  .teamBuilder {
    border-top: 5px solid hsl(0, 78%, 62%);
    margin-bottom: 30px;
  }

  .karma {
    border-top: 5px solid hsl(34, 97%, 64%);

  }

  .calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
    align-self: center;
    flex: 1;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
 
  /* Medium screens */
  @media only screen and (max-width : 768px) {

  }

  /* Small screens */
  @media only screen and (max-width : 500px) {
    .flexCards{
      display: block;
      margin: auto;
    }

    .column{
      display: block;
    }

    .card{
      height: 250px;
    }
    .supervisor,
    .calculator{
      margin-top: 0;
    }
  }
